<div class="col-sm-4 sidebar">
    <div>
        <input class="filter" type="text" ng-model="filterText" placeholder="Filter by label or name">
    </div>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th ng-click="sidebarSelectAll(nodes);onSelect()">
                        <input type="checkbox" ng-checked="allChecked">
                    </th>
                    <th>Node({{selectedNode().length}}/{{nodes.length}})</th>
                    <th>Internal IP</th>
                </tr>
            </thead>
            <tbody ng-show="nodes">
                <tr ng-repeat="node in nodes | filter:filterText" ng-click="sidebarSelect(nodes, node);onSelect();" ng-class="{success:node.checked}">
                    <th>
                        <input type="checkbox" ng-model="node.checked">
                    </th>
                    <td>{{node.NodeID}}</td>
                    <td>{{node.InternalIP.join(",")}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <loadingbar ng-if="!nodes && !sidebar_errmsg"></loadingbar>
    <p class="errmsg text-center text-danger" ng-if="sidebar_errmsg">{{sidebar_errmsg}}</p>
</div>
