/* app css stylesheet */

body {
    font-size: 14px
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
.md-whiteframe-glow-z1 {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}
.header, .footer {
    background: #ccc;
}
.menu li {
    padding: 16px;
}
.md-list-item-h30, .md-list-item-h30 ._md-list-item-inner {
    min-height: 30px
}
md-list-item ._md-list-item-inner> .md-checkbox-ms {
    margin-right: 5px;
}
md-list-item ._md-list-item-inner> .md-checkbox-ms {
    margin-bottom: 1px;
    margin-top: 1px;
}
.md-tabs-ms md-tabs-canvas, .md-tabs-ms md-pagination-wrapper, .nodes-toolbar {
    height: 44px
}
.options-list ._md-subheader-inner {
    padding-top: 7px
}
.ml20 {
    margin-left: 20px
}
.pt0 {
    padding-top: 0px;
}
.nodes-item {
    width: 220px;
    float: left;
    overflow: hidden;
}
.nodes-toolbar {
    position: absolute;
    right: 0px;
    width: 200px;
    z-index: 1;
}
.nodes-toolbar md-input-container {
    margin: 0;
}
.nodes-toolbar .md-errors-spacer {
    display: none
}
.nodes-toolbar span {
    color: #ccc;
    padding: 0 5px;
}
.nodes-toolbar a {
    text-decoration: none
}
