/* app css stylesheet */

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
.md-whiteframe-glow-z1 {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}
.header, .footer {
    background: #ccc;
}
.menu li {
    padding: 16px;
}
.sidenav {
    background: #ECEFF1;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
    bottom: 0;
    overflow: auto;
}
.search {
    margin: 10px 10px 0 10px
}
.search md-input-container {
    margin: 0
}
.list-select {
    padding: 0 16px;
    font-size: 14px;
}
.list-select span {
    cursor: pointer;
    color: rgb(25, 118, 210);
}
