<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body layout="column">
    <md-toolbar class="md-whiteframe-glow-z1 header">
        <div class="md-toolbar-tools">
            <md-sidenav class="md-sidenav-left" md-is-locked-open="true">

            </md-sidenav>
            <ul layout="row" layout-align="start center" class="menu">
                <li><a href="#!/view1">view1</a></li>
                <li><a href="#!/view2">view2</a></li>
            </ul>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content layout="row" flex class="container">
        <md-sidenav class="md-sidenav-left sidenav" md-component-id="left" md-is-locked-open="true" md-disable-backdrop md-whiteframe="4">
            <div layout="row" class="search">
                <md-input-container md-no-float class="md-block" flex>
                    <input placeholder="Search">
                </md-input-container>
                <md-input-container md-no-float>
                    <md-select ng-model="selectedToppings" multiple placeholder="tag">
                        <md-option ng-value="1">value</md-option>
                        <md-option ng-value="2">selected</md-option>
                        <md-option ng-value="3">multiple</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="list-select">
                <a href="javascript:void(0)" ng-click="selector.multi = true">多选</a> | <a href="javascript:void(0)" ng-click="selector.all = true">全选</a>
            </div>

            <md-list flex class="list">
                <md-list-item class="list-item" ng-click="null">
                    127.0.0.1:8080
                    <span class="flex"></span>
                    <md-checkbox md-no-ink class="md-primary" aria-label="12" ng-value="1"></md-checkbox>
                </md-list-item>
                <md-list-item class="list-item list-item-focus" ng-click="null">
                    127.0.0.2:8080
                </md-list-item>
                <md-list-item class="list-item" ng-click="null">
                    127.0.0.3:8080
                </md-list-item>
            </md-list>
        </md-sidenav>
        <div ng-view class="content"></div>
    </md-content>

    <!--
    <div class="footer">
        <div>Angular seed app: v<span app-version></span></div>
    </div>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
</body>

</html>
