<div class="row">
    <div class="col-sm-8">
        <loadingbar ng-show="loading"></loadingbar>
        <div class="jumbotron setting" ng-show="!loading">
            <form class="form-horizontal">
                <fieldset class="goroot-form">

                    <div class="form-group form-inline" ng-repeat="(k, goroot) in goroots">
                        <label for="" class="col-sm-2 control-label"></label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="go version" style="width:100px" ng-model="goroot.version" required>
                        </div>
                        <div class="form-group" style="margin-left:20px">
                            <input type="text" class="form-control" placeholder="go root path" style="width:200px" ng-model="goroot.path" required>
                        </div>
                        <a class="glyphicon glyphicon-plus ml20" href="javascript:void(0)" ng-click="addRow()" ng-if="k==0"></a>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label"></label>
                        <div>
                            <div class="btn-group">
                                <button href="javascript:void(0)" class="btn btn-raised btn-default" ng-click="submit()" promise-btn>Save</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
