<div class="row">
    <sidebar></sidebar>
    <div class="col-sm-8">
        <div class="clearfix">
            <a href="javascript:void(0)" class="btn btn-raised btn-default pull-right" ng-click="onSelect(true)">set global setting</a>
        </div>
        <p class="errmsg text-center text-danger" ng-show="!loading && errmsg">{{errmsg}}</p>
        <loadingbar ng-show="loading"></loadingbar>
        <div ng-show="!loading">
            <div class="jumbotron setting">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Profile</legend>
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" ng-model="profile.data.EnableProfile"> Enable
                            </label>
                        </div>
                        <div class="ml15">
                            <div class="togglebutton">
                                <label>
                                    <input type="checkbox" ng-model="profile.type.cpu" ng-checked="profile.type.cpu && profile.data.EnableProfile" ng-disabled="!profile.data.EnableProfile"> CPU
                                </label>
                            </div>
                            <div class="togglebutton">
                                <label>
                                    <input type="checkbox" ng-model="profile.type.heap" ng-checked="profile.type.heap && profile.data.EnableProfile" ng-disabled="!profile.data.EnableProfile"> Heap
                                </label>
                            </div>
                            <div class="togglebutton">
                                <label>
                                    <input type="checkbox" ng-model="profile.type.block" ng-checked="profile.type.block && profile.data.EnableProfile" ng-disabled="!profile.data.EnableProfile"> Block
                                </label>
                            </div>
                            <div class="togglebutton">
                                <label>
                                    <input type="checkbox" ng-model="profile.type.trace" ng-checked="profile.type.trace && profile.data.EnableProfile" ng-disabled="!profile.data.EnableProfile"> Trace
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-1 control-label">Cron</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="cron jobs" ng-model="profile.data.ProfileCron" ng-disabled="!profile.data.EnableProfile">
                            </div>
                        </div>

                        <div class="btn-group" ng-init="profile.action='save'">
                            <a href="javascript:void(0)" class="btn btn-raised" ng-click="saveProfile()">{{profile.action}}</a>
                            <a href="javascript:void(0)" data-target="#" class="btn btn-raised dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)" ng-click="profile.action='save'">Save</a></li>
                                <li><a href="javascript:void(0)" ng-click="profile.action='once'">Run Once</a></li>
                                <li><a href="javascript:void(0)" ng-click="profile.action='delete'">Delete</a></li>
                            </ul>
                        </div>
                        <span ng-show="profile.action=='once'">Run Once right now</span>
                        <span ng-show="profile.action=='delete'">Delete config</span>
                    </fieldset>
                </form>
            </div>

            <div class="jumbotron setting">
                <form class="form-horizontal" disabled>
                    <fieldset>
                        <legend>Stats</legend>
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" ng-model="profile.data.EnableStats"> Enable
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-1 control-label">Cron</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="cron jobs" ng-model="profile.data.StatsCron" ng-disabled="!profile.data.EnableStats">
                            </div>
                        </div>

                        <div class="btn-group" ng-init="stats.action='save'">
                            <a href="javascript:void(0)" class="btn btn-raised" ng-click="saveStats()">{{stats.action}}</a>
                            <a href="javascript:void(0)" data-target="#" class="btn btn-raised dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)" ng-click="stats.action='save'">Save</a></li>
                                <li><a href="javascript:void(0)" ng-click="stats.action='once'">Run Once</a></li>
                                <li><a href="javascript:void(0)" ng-click="stats.action='delete'">Delete</a></li>
                            </ul>
                        </div>
                        <span ng-show="stats.action=='delete'">Delete config</span>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
